<div class="form-wrapper">
  <div class="ds-card ds-animate-scaleIn">
    <div class="ds-card-header">
      <h4 style="margin: 0;"><i class="fa-solid fa-pen-to-square" style="margin-right: 0.5rem; color: var(--ds-secondary);"></i> Edit Book</h4>
    </div>
    <div class="ds-card-body">
      <form (ngSubmit)="onSubmit()">
        <div class="ds-form-group">
          <label class="ds-label">Book Name</label>
          <input type="text" class="ds-input" id="bookName" [(ngModel)]="book.bookName" name="bookName">
        </div>
        <div class="ds-form-group">
          <label class="ds-label">Author</label>
          <input type="text" class="ds-input" id="bookAuthor" [(ngModel)]="book.bookAuthor" name="bookAuthor">
        </div>
        <div class="ds-form-group">
          <label class="ds-label">Genre</label>
          <input type="text" class="ds-input" id="bookGenre" [(ngModel)]="book.bookGenre" name="bookGenre">
        </div>
        <div class="ds-form-group">
          <label class="ds-label">Number of Copies</label>
          <input type="number" class="ds-input" id="noOfCopies" [(ngModel)]="book.noOfCopies" name="noOfCopies">
        </div>
        <button class="ds-btn ds-btn-primary" type="submit">
          <i class="fa-solid fa-save"></i> Save Changes
        </button>
      </form>
    </div>
  </div>
</div>